
# Requirements for the Optima Listino App
pandas==2.2.2
openpyxl==3.1.5
rapidfuzz==3.9.6
PyYAML==6.0.2
streamlit==1.36.0
pdfplumber==0.11.4
pdfminer.six==20231228
google-api-python-client==2.137.0
google-auth==2.33.0
google-auth-httplib2==0.2.0
